<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/aboutus.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_user.ejs')%>
    <main>
        <div class="aboutus">
            <h1 class="para1">About Us</h1>
          </div>
          <div class="abtpara">
            <div id="abt1">
                <p class="para3">About Our Vision</p>
                <p class="para4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="para5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
            </div>
            <div class="abtphoto">

            </div>
          </div>
            
    </main>
<%-include('../includes/footer.ejs')%>

<div class="container-fluid footer2">
    <p class="para24">Copyright <i class="bi bi-c-circle" id="copyright"></i>2024 All rights reserved | This template is made with <i class="bi bi-heart" id="heart"> by<span class="maker"> Sandipto</span></i></p>
</div>