<%-include('../includes/header.ejs')%>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/nav_user.ejs')%>
    <main>
        <input type="text" name="pid" id="pid" value="<%=data._id%>">
        
        
    </main>