<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/email_recovery.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <main>
        <div class="emailrecovery">
            <div class="form1">
                <form action="/recovery/emailpostdata" method="POST" autocomplete="off">
                    <h2 class="text-center para1 fw-semibold mb-5">Password Recovery</h2>
                    <div class="mb-3">
                        <p class="text-success text-center fs-6"><%=recovery_mail%></p>
                    </div>
                    <div class="mb-3">
                        <p class="text-danger text-center fs-6"><%=error_mail_recovery%></p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Id</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email Id">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn1 form-control mt-4">Submit</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="/user/viewlogin">Back to Sign In Page</a>
                    </div>
                </form>
            </div>
        </div>
        
    </main>