<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/pass_recovery.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <main>
        <div class="pass_recovery">
            <div class="form1">
                <form action="/patient/postpasswordrecovery" method="POST" autocomplete="off">
                    <h2 class="text-center para1 fw-semibold mb-5">Password Recovery</h2>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Id</label>
                        <input type="email" class="form-control" name="email" id="email" value="<%=data.patient_email%>" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Reset Your Password">
                    </div>
                    <div class="mb-3">
                        <label for="cnf_password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="cnf_password" id="cnf_password" placeholder="Confirm Your Password">
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn1 form-control">Update Password</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="/user/viewlogin">Back to Sign In Page</a>
                    </div>
                </form>
            </div>
        </div>
        
    </main>