body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.contactus{
    background-image: url('../images/Contact-Us.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:rgb(34, 63, 63);
    background-blend-mode:multiply;
    opacity: 0.7;
    height: 300px;
    position: relative;
}
.para1{
    left: 23%;
    top: -50%;
    color:white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    position: absolute;
}
.contact1{
    height: 1650px;
}
.location{
    padding-top: 8rem;
    /* padding-left: 40%; */
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 63, 63);
    letter-spacing: 2px;
    word-spacing: 3px;
}
.locationtext{
    padding-top: 30px;
    /* text-align: center; */
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 63, 63);
    letter-spacing: 2px;
    word-spacing: 3px;
}
.days{
    padding-top: 30px;
    /* padding-bottom: 20px; */
    padding-left: 35rem;
    /* padding-right: 20rem; */
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    color:rgb(34, 63, 63);
    letter-spacing: 1px;
    word-spacing: 2px;
}
.map{
    margin-top: 12rem;
}