body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.update_doc{
    background-image: url('../images/banner1.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:rgb(34, 63, 63);
    background-blend-mode:multiply;
    opacity: 0.7;
    height: 1480px;
    position: relative;
}
.form2{
    position: absolute;
    top:10%;
    left:18%;
    bottom: 20%;
    height: 1300px;
    width:830px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgb(95, 95, 95);
}
.para1{
    color: rgb(34, 63, 63);
}
.btn1{
    background-color: rgb(34, 63, 63);
    color: white;
}
.btn1:hover{
    background-color: white;
    color: rgb(34, 63, 63);
    border: 1px solid rgb(34, 63, 63);
    cursor: pointer;
}