<footer>
    <div class="footerflex">
        <div class="footlinks">
            <p class="para23">Useful Links</p>
            <p><a href="" class="para22">Home</a></p>
            <p><a href="" class="para22">About Us</a></p>
            <p><a href="" class="para22">Careers</a></p>
            <p><a href="" class="para22">Appointments</a></p>
            <p><a href="" class="para22">Our Doctors</a></p>
            <p><a href="" class="para22">Contact Us</a></p>
        </div>
        <div class="footlinks">
            <p class="para23">Departments</p>
            <p><a href="" class="para22">Cardiology</a></p>
            <p><a href="" class="para22">Opthalmology</a></p>
            <p><a href="" class="para22">Neurology</a></p>
            <p><a href="" class="para22">Orthopedic</a></p>
            <p><a href="" class="para22">Gynocology</a></p>
            <p><a href="" class="para22">Diagnostics</a></p>
            
            
        </div>
        
            <div class="footsocial">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook" id="social"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram" id="social1"></i></a>
                <a href="https://twitter.com/i/flow/login" target="_blank"><i class="bi bi-twitter" id="social2"></i></a>       
                <a href="https://in.pinterest.com/" target="_blank"><i class="bi bi-pinterest" id="social3"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube" id="social4"></i></a>
            </div>
        
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/nav.js"></script>
  </body>
</html>