<%-include('./includes/header.ejs')%>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('./includes/nav_switch.ejs')%>
    <main>
        <div class="d-flex justify-content-center m-5">
            <a href="/admin/adddoctor" class="btn btn-lg btn-primary mt-5">Admin View</a>
            <a href="/user/home" class="btn btn-lg btn-success mx-3 mt-5">User View</a>
        </div>
    </main>
