<%-include('./includes/header.ejs')%>
<link rel="stylesheet" href="/css/switch.css">
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('./includes/nav_switch.ejs')%>
    <main>
        <div class="switch">
            <div class="switchbtn">
                <a href="/admin/viewdoctors" class="btn btn1 btn-lg btn-primary mt-5">Admin View</a>
                <a href="/user/home" class="btn btn1 btn-lg btn-success mx-3 mt-5">User View</a>
            </div>
        </div>
    </main>
